<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132953159289-tihjn4c5hptnftpt3fopotnhlro0vtj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132953159289-tihjn4c5hptnftpt3fopotnhlro0vtj8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132953159289-ab3os4pnvv9btbl2gahcfp6nlb3iuh0o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_0VlSK0scVJ6YmHKAzpmf1POmH-1BD4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>132953159289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.savvy.komkum</string>
	<key>PROJECT_ID</key>
	<string>zomatunes-739e2</string>
	<key>STORAGE_BUCKET</key>
	<string>zomatunes-739e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132953159289:ios:68d0d1ab7ef288c80e06a8</string>
	<key>DATABASE_URL</key>
	<string>https://zomatunes-739e2-default-rtdb.firebaseio.com</string>
</dict>
</plist>